.button {
  padding: 0.5em;
  background: #0001;
  border-radius: 1rem;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 auto;
}

.commentContainer {
  grid-area: comments;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.replyContainer {
  grid-area: replies;
  width: 100%;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "title title"
    "info content"
    "replies replies";
}

.replies {
  display: inline-block;
  margin-left: 2rem;
  width: calc(100% - 2rem);
  grid-area: replies;
}

.title {
  margin-right: auto;
  padding: 0.25rem;
}

.info {
  margin-right: 0.5rem;
  align-self: center;
}

.content {
  overflow-wrap: break-word;
  overflow-y: scroll;
  max-height: 8rem;
  height: fit-content;
  background-color: #0001;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: calc(100% - 4rem);
  display: inline-block;
}

.commentInfoContainer {
  display: flex;
  flex-direction: row;
  width: calc(100% - 4rem);
  background: #0001;
  border-radius: 1rem;
  padding: 0 0.5rem;
  grid-area: info;
}
